<% @cart.orders.each do |order| %>
  <% product = order.product %>
    <div id="<%= "cart-#{product.id}" %>">
  <div>
    <div class="container">
      <div class="row">
      <div class="col">
      <strong>Name:</strong>
      <%= product.name %>
      <strong>Price:</strong>
      <%= number_to_currency(product.our_price) %>
      </div>
      <div class="col">
      <%= form_with(url: cart_add_path) do |f| %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.number_field :quantity, value: order.quantity, min: 0 %>
      <%= f.submit "Update" %>
      <% end %>
    </div>
      <div class="col">
      <%= form_with(url: cart_remove_path) do |f| %>
      <%= f.hidden_field :id, value: order.id %>
      <%= f.submit "Remove" %>
      <% end %>
      </div>
      <div class="col">
      <strong>Total:</strong>
      <%= number_to_currency(order.total) %>
    </div>
  </div>
</div>
</div>
</div>
<% end %>