<div id="<%= dom_id product %>">
  <div style="display: flex; justify-content: space-between; margin: 0em 7em">
    <%= image_tag(product.image) %>
    <strong>Name:</strong>
    <%= product.name %>
    <strong>Description:</strong>
    <%= product.description %>
    <strong>List Price:</strong>
    <%= product.price %>
    <strong>Our price:</strong>
    <%= product.our_price %>
    <strong>Rating:</strong>
    <%= product.rating %>
    <%= form_with(url: cart_add_path) do |f| %>
    <%= f.hidden_field :id, value: product.id %>
    <%= f.number_field :quantity, value: 0, min: 1 %>
    <%= f.submit "Add to Cart" %>
   <% end %>
  </div>
</div>
