<div id="<%= dom_id product %>">
<div class="card text-white border-info bg-dark mb-3 h-100" style="width: 16rem;">

<%= image_tag("#{product.name}.jpg", class: "card-image-top",  alt: "Picture of #{product.name}.") %>

 <div class="card-body">  
 <div class="card-title">
    <strong>Name: </strong>
    <%= link_to product.name, product %>
</div>

 <div class="card-text">
    <strong>List Price:</strong>
    <%= number_to_currency(product.price) %>
</div>

 <div class="card-text">
    <strong>Our price:</strong>
    <%= number_to_currency(product.our_price) %>
</div>

<div class="card-text">
    <strong>Rating:</strong>
</div>
<div class="card-text">
<%= product.rating %>
</div>    

<%= form_with(url: cart_add_path) do |f| %>
<%= f.hidden_field :animal_class, value: product.animal_class %>
<%= f.hidden_field :id, value: product.id %>
<%= f.number_field :quantity, value: 0, min: 1 %>
<%= f.submit "Add to Cart" %>
<% end %>

<%= button_to "Buy Now", checkout_create_path, params: {id: product.id}, remote: true %> 

</div>
</div>
</div>
 

