<div id="<%= dom_id product %>">
<div class="card text-white border-dark border-4 bg-dark mb-3 h-100 align-items-center" style="width: 16rem;">

<%= image_tag("#{product.name}.jpg", class: "card-image-top",  alt: "Picture of #{product.name}.") %>
<div class="d-flex justify-content-between">  
 <div class="card-body">
 <div class="card-title text-center">
   
    <%= link_to product.name, product, class:"medium link" %>
</div>
<div class="row">
<div class="col">
 <div class="card-text">
   <small>Market Price:
   <s style="color:red;">$<%= price_adjust(product.price) %>.00</small></s>
</div>
</div>
<div class="col">
 <div class="card-text">
    <strong>Our price:</strong>
    $<%= price_adjust(product.our_price) %>.00
</div>
</div>
</div>

<%= form_with(url: cart_add_path) do |f| %>
<%= f.hidden_field :animal_class, value: product.animal_class %>
<%= f.hidden_field :id, value: product.id %>
<div class="row">
<%= f.number_field :quantity, value: 0, min: 1, class:"col rounded-pill" %>
<%= f.submit "Add to Cart", class: "btn btn-primary rounded-pill border-secondary col" %>
<% end %>
</div>

<div class="col card-top-pad">
<%= button_to "Buy Now", checkout_create_path, params: {id: product.id}, remote: true, class:"btn btn-primary border-secondary rounded-pill form-control" %> 
</div>
</div>
</div>
</div>
</div>
 

