<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>List Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Our price:</strong>
    <%= product.our_price %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= product.rating %>
  </p>

</div>
