
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

<div class="container top-pad">
<h1 class="display-4 fw-bold lh-1 mb-3 text-center">
  Create An Account
</h1>
<p class="display-8 fw-bold lh-1 mb-3 text-center">
  The High Maintainence Pet Of Your Dreams Is Only A Click Away.
</p>
</div>
          

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
 
<div class="row align-items-center g-lg-5 py-5">

<div class="col-md-10 mx-auto col-lg-5">
<div class="p-4 p-md-5 border rounded-3 bg-light">

  <div class="field form-floating mb-3">
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
    <%= f.label :email %>
  </div>


  <div class="field form-floating mb-3">
    <%= f.password_field :password, autofocus: true, class: "form-control" %>
    <%= f.label :password %>
  </div>

   <div class="field form-floating mb-3">
    <%= f.password_field :password_confirmation, autofocus: true, class: "form-control" %>
    <%= f.label :password_confirmation %>
  </div>

  <div class="field form-floating mb-3">
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
    <%= f.label :first_name %>
  </div>

  <div class="field form-floating mb-3">
    <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
    <%= f.label :last_name %>
  </div>
  
  <div class="row align-items-center g-lg-3 py-1">
<div class="col">
<div class="actions">
<%= f.submit "Sign up", autofocus: true, class: "w-100 btn btn-lg btn-primary" %>
</div>

<hr class="my-4">
<small class="text-muted">By clicking Sign up, you agree to the terms of use.</small><br><br>

<% end %>

<div class="col-lg">
  <small class="text-muted">Already have an account?</small>
<%= render "users/shared/links", class: "btn btn-primary" %>
</div>
</div>
</div>
</form>




